<!DOCTYPE html>
<head></head>
<html>
<body>
    <div class="general-content">
        <ul class="unordoned-list">
            <li>
                <!-- START TEMPLATE -->
                <div class="route">
                    <a href="#hide1" class="hide" id="hide1">
                        <div class="info">
                            GET
                        </div>
                        <div class="middletext">
                            api-user-forms.herokuapp.com/v1/forms/get/byTitle
                        </div>
                        <div class="infotext">
                            get form by Title
                        </div>
                    </a>
                    <a href="#show1" class="show" id="show1">
                        <div class="info">
                            GET
                        </div>
                        <div class="middletext">
                            api-user-forms.herokuapp.com/v1/forms/get/byTitle
                        </div>
                        <div class="infotext">
                            get form by Title
                        </div>
                    </a>
                        <!-- CONTENT -->
                        <div class="list">
                            
                            <p class="weight">RESPONSE CLASSES</p>
                            <p class="weight">Return value: form</p>

                            <h5 class="weight">form - This object contains form information.</h5>
                            <table>
                                <tr class="table-title">
                                    <th>NAME</th>
                                    <th>DATA TYPE</th>
                                    <th>DESCRIPTION</th>
                                </tr>
                                <tr>
                                    <th>title</th>
                                    <th>string</th>
                                    <th>Title of the form</th>
                                </tr>
                                <tr>
                                    <th>retention_date</th>
                                    <th>date</th>
                                    <th>Date of creation, defaults to time.now</th>
                                </tr>
                                <tr>
                                    <th>sections</th>
                                    <th>[section]</th>
                                    <th>List of section objects</th>
                                </tr>
                                <tr>
                                    <td>_id</td>
                                    <td>string</td>
                                    <td>unique ID auto generated</td>
                                </tr>
                                    <td>__v</td>
                                    <td>number</td>
                                    <td>version number, defaults to 0</td>
                                <tr>
                            </table>
                        </div>
                </div>

                <!-- START TEMPLATE -->
                <div class="route">
                    <a href="#hide6" class="hide" id="hide6">
                        <div class="info2">
                            RESPONSES
                        </div>
                        <div class="middletext2">
                            table of contents
                        </div>
                        <div class="infotext">
                            information about responses
                        </div>
                    </a>
                    <a href="#show6" class="show" id="show6">
                        <div class="info2">
                            RESPONSES
                        </div>
                        <div class="middletext2">
                            table of contents
                        </div>
                        <div class="infotext">
                            information about responses
                        </div>
                    </a>
                    <!-- CONTENT -->
                    <div class="list">
                        
                        <p class="weight">RESPONSE ERRORS</p>
                        <table>
                            <tr class="table-title">
                                <th>HTTP STATUS CODE</th>
                                <th>REASON</th>
                            </tr>
                            <tr>
                                <td>400</td>
                                <td>Bad request</td>
                            </tr>
                            <tr>
                                <td>401</td>
                                <td>Unauthorized</td>   
                            </tr>
                            <tr>
                                <td>403</td>
                                <td>Forbidden</td>
                            </tr>
                                <td>404</td>
                                <td>Data not found</td>
                            <tr>
                                <td>405</td>
                                <td>Method not allowed</td>
                            </tr>
                            <tr>
                                <td>415</td>
                                <td>Unsupported media type</td>
                            </tr>
                            <tr>
                                <td>429</td>
                                <td>Rate limit exceeded</td>
                            </tr>
                            <tr>
                                <td>500</td>
                                <td>Internal server error</td>
                            </tr>
                            <tr>
                                <td>502</td>
                                <td>Bad gateway</td>
                            </tr>
                            <tr>
                                <td>503</td>
                                <td>Service unavailable</td>
                            </tr>
                            <tr>
                                <td>504</td>
                                <td>Gateway timeout</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>