<!DOCTYPE html>
<head>

</head>

<html>

    <body>
        <div class="general-content">
            <h2>Overview</h2>
            This server will be used for API routes and Documentation.
            <p>
                This document will provide you with a basic understanding of the API. It is designed to help you begin exploring and developing your own tool to manage our Database.
                <br> <br>
                <h4>We can't wait to see what you make!</h4>
            </p>
        </div>
    </body>

</html>