<!DOCTYPE html>
<head>

</head>

<html>

    <body>
        <div class="general-content">
            <h2>Overview</h2>
            This server will be used for API routes and Documentation.
            <p>
                This document will provide you with a basic understanding of the API. It is designed to help you begin exploring and developing your own tool to manage our Database.
                <br> <br>
                <h4>We can't wait to see what you make!</h4>
                <div>
                    <H2 style="text-align: center; margin-top: 100px">Demo</H2>
                    <ul>
                        <li style="list-style-type: none; float: left; margin-left: 210px">
                            <video width="400" controls>
                                <source src="https://streamable.com/dcss1n" type="video/mp4">
                                Your browser does not support HTML video.
                              </video>
                              <br>
                            <a href="https://streamable.com/dcss1n">click to open external link if the video doesn't load</a>
                        </li>
                        <li style="list-style-type: none; float: right; margin-right: 250px">
                            <video width="400" controls>
                                <source src="https://streamable.com/gc65nt" type="video/mp4">
                                Your browser does not support HTML video.
                              </video>
                              <br>
                            <a href="https://streamable.com/gc65nt">click to open external link if the video doesn't load</a>
                        </li>
                    </ul>
                </div>
                
            </p>
        </div>
    </body>

</html>